html, body {
    position: relative;

    margin: 0;
    height: 100%;
    overflow: hidden;

    background-blend-mode: multiply, normal;
    background: #B9EDF8 linear-gradient(180deg, #003399 0%, rgba(50, 100, 200, 0.75) 100%) fixed;
}